.site-header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  line-height: 23px;
  min-width: 400px;
}

ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__list {
  display: flex;
}

.site-header .navbar__list > .navbar__list-item:not(:last-child):after {
  content: "//";
  display: inline-block;
  margin: 0 5px 0 5px;
}

.logo-img {
  height: 36px;
  width: 210px;
}

@include media-breakpoint-down(xs) {
  .site-header {
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .navbar {
    padding: 10px 0;
    min-width: 300px;
  }
}

