.site-header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  line-height: 23px;
  min-width: 400px;
  padding: 0 30px;
}

ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__list {
  display: flex;
}

.navbar__list-item {
  > a:link {
    border-bottom: 1px solid;
  }
}

.navbar__link {
  font-size: 20px;
}

.site-header .navbar__list > .navbar__list-item:not(:last-child):after {
  content: "//";
  display: inline-block;
  margin: 0 5px 0 5px;
}

.link-header {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 15px;
  width: 20px;
}
.logo-text {
  font-size: 28px;
  margin-bottom: 0;
  line-height: 1.5;
  letter-spacing: 1px;
}

@include media-breakpoint-down(xs) {
  .site-header {
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .navbar {
    padding: 10px 0;
    min-width: 300px;
  }
}

