.network-name {
  padding: 20px 35px 15px 35px;
  font-family: $code-pro-font-family;
  background-color: $tile_background;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

@include media-breakpoint-down(xs) {
  .network-name {
    padding: 10px;
    font-size: 16px;
  }
}
