$switchGray: #F3F3F3;
$switchBlack: #000;

.m-checkbox {
  display: flex;
  align-items: center;
  padding: .5rem;
  margin-left: auto;

  &__input {
    position: relative;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none; // TODO: manage :focus
    background: $switchGray;
    cursor: pointer;
    border: 2px solid $switchGray;

    &::before {
      content: ' ';
      position: absolute;
      top: 50%;
      right: 50%;
      bottom: 50%;
      left: 50%;
      transition: all .1s;
      background: $switchGray;
    }

    &:checked {
      &::before {
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
      }
    }
  }

  &--switch {
    &__input {
      width: (2 * 20px) - (2 * 2px);
      height: 20px;
      border: 2px solid $switchBlack;
      border-radius: 20px - (2*2px);
      background: $switchGray;
      &::before {
        top: 2px;
        right: 20px - 2px;
        bottom: 2px;
        left: 2px;
        border-radius: 50%;
        background: $switchBlack;
      }

      &:checked {
        border-color: $switchGray;
        background: $switchBlack;
        &::before {
          right: 2px;
          left: 20px - 2px;
          background: $switchGray;
        }
      }
    }
  }
}
