.tileTitle {
  &-wrap {
    display: flex;
    align-items: flex-start;
  }

  &-text {
    white-space: pre;
    color: $tile_title;
    font-size: 14px;
    line-height: 30px;
    width: 120px;
    border-bottom: 2px solid $tile_title_bottom_border;
  }

  &-icons {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: flex-start;
    > img {
      margin-left: 4px;
    }
  }
}
