body {
  @include theme-aware('background', 'color-background');
}

// It will generate the following rules:
//body {
//  .theme-light & { background: #FAFAFA; }
//  .theme-dark & { background: #37474F; }
//}

//// After compiling scss down to css, we get the following
//.theme-light body {
//  background: #FAFAFA;
//}
//
//.theme-dark body {
//  background: #37474F;
//}

body {
  position: relative;
  font-family: $main-font-family;
  @include theme-aware('color', 'body-color-font');
  background-color: #F3F3F3;
}

* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

a {
  color: $blue;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:link{
    text-decoration: none;
  }
  &:active{
    text-decoration: none;
  }
}

p {
  margin: 0;
}
