// Colors HEX
$white: #FFFFFF;
$dark: #252429;
$blue: #1776E3;
$tile_title_bottom_border: #797979;

// Colors RGBA
$tile_background: rgba(0, 0, 0, 0.02);
$page_background: rgba(243, 243, 243, 0.2);
$tile_title: rgba(64, 64, 64, 0.5);
$tile_title: rgba(64, 64, 64, 0.5);
$tile_title_bottom_border: rgba(215, 215, 215, 0.2);


// Fonts
$main-font-family: 'NeubauGrotesk', sans-serif;
