$themes: (
  light: (
    color-background: #FAFAFA,
    color-card: #FFF,
    body-color-font: #000,
  ),
  dark: (
    color-background: #37474F,
    color-card: #212121,
    body-color-font: #fff,
  )
);
