$themes: (
  light: (
    corner-box-border: $dark,
    color-background: $page_background,
    body-color-font: $dark,
    logo: $dark,
    logo-text: $dark,
    network-name-bg: $tile_background,
    tile-bg: $tile_background,
    tile-title-color: $tile_title,
    right-line-color: $dark,
    map-title: $dark,
    map-background: $map_background,
    map-path-fill: $map_geographies_fill,
    map-path-stroke: $map_geographies_stroke,
    q-icon: $q_icon_bg,
    icon-tile: $dark,
    title: $dark,
    map-decoration: url('../../assets/mapBorder.svg'),
  ),
  dark: (
    corner-box-border: $white,
    color-background: $page_background_dark,
    body-color-font: $white,
    logo: $white,
    logo-text: $white,
    network-name-bg: $tile_background_dark,
    tile-bg: $tile_background_dark,
    tile-title-color: $white,
    right-line-color: $white,
    map-title: $white,
    map-background: $tile_background_dark,
    map-path-fill: $map_geographies_fill_dark,
    map-path-stroke: $map_geographies_stroke_dark,
    q-icon: $white,
    icon-tile: $white,
    title: $white,
    map-decoration: url('../../assets/darkTheme/map_decoration_dark.svg'),
  )
);
