@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,500&display=swap');
@import "./utilities/variables";

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./themes/color-palette";

// Mixins
@import "./mixins/flexbox";
@import "./mixins/media-breakpoint";
@import "./mixins/theme-aware";

// Fonts
@import "./fonts/fonts";

// Utilities
@import "./utilities/base";
@import "./utilities/typography";

// atoms
@import "./components/atoms/title";
@import "./components/atoms/switcher";
@import "./components/atoms/dropdown";
@import "./components/atoms/logo";
@import "./components/atoms/navbar";
@import "./components/atoms/network-name";
@import "./components/atoms/tile-title";
@import "./components/atoms/value-holder";
@import "./components/atoms/map-title";
@import "./components/atoms/range-slider";
@import "./components/atoms/bar-chart";
@import "./components/molecules/data-tile";
@import "./components/molecules/map";

// Components
@import "./components/Layout/header";
@import "./components/Layout/layout";

// Pages
@import "./pages/home";
